<div class="contenedor">
    <div class="cuadro_color morado my-auto"></div>
    <div class="cuadro_color rojo my-auto"></div>
    <div class="cuadro_color rosa my-auto"></div>
    <div class="cuadro_color anaranjado my-auto"></div>
    <div class="cuadro_color amarillo my-auto"></div>
    <div class="cuadro_color verde my-auto"></div>
    <div class="cuadro_color celeste my-auto"></div>
    <div class="cuadro_color azul my-auto"></div>
    <div class="cuadro_color cafe my-auto"></div>
    <div class="cuadro_color negro my-auto"></div>
</div>