<div class="row mt-5">
    <div class="col-4">
        <img src="https://i.pinimg.com/originals/1c/ee/d0/1ceed098558380f5c4739bb878bd7bce.png" width="100%" alt="">
    </div>
    <div class="col">
        <h1 class="display-2">Mario</h1>
        <p style="font-size: xx-large;">El Reino de los hongos fue invadido por los Koopa, una tribu de tortugas.
            El pueblo es convertido en piedra y ladrillos. La única que puede deshacer
            el echizo es la Princesa Peach. Pero la princesa fue secuestrada por Bowser.​
            Mario y su hermano Luigi salvan a la princesa Peach.</p>
        <small class="text-muted">https://es.wikipedia.org/wiki/Super_Mario_Bros.</small>
    </div>
</div>
