<div class="row mt-5">
    <div class="col-4">
        <img src="https://cdn130.picsart.com/259200063022212.png?type=webp&to=min&r=480" width="100%" alt="">
    </div>
    <div class="col">
        <h1 class="display-2 mb-5">El caballo y el asno</h1>
        <p style="font-size: xx-large;">Un hombre tenía un caballo y un asno.</p>
        <p style="font-size: xx-large;">Un día que ambos iban camino a la ciudad, el asno, sintiéndose cansado, le dio al caballo:</p>
        <p style="font-size: xx-large;">-Toma una parte de mi carga si te interesa mi vida. </p>
        <p style="font-size: xx-large;">El caballo haciéndose el sordo no dijo nada al asno.</p>
        <p style="font-size: xx-large;">Horas más tarde, el asno cayó víctima de la fatiga, y murió allí mismo.</p>
        <p style="font-size: xx-large;">Entonces el dueño echó toda la carga encima del caballo, incluso la piel del asno. Y el caballo, suspirando dijo:</p>
        <p style="font-size: xx-large;">- ¡Que mala suerte tengo! ¡Por no haber querido cargar con un ligero fardo ahora tengo que cargar con todo, y hasta con la piel del asno encima!</p>
        <p style="font-size: xx-large;">Moraleja: Cada vez que no tiendes tu mano para ayudar a tu prójimo que honestamente te lo pide, sin que lo notes en ese momento, en realidad te estás perjudicando a ti</p>
        <small class="text-muted">Lecturas para niños</small>
    </div>
</div>

