<div class="card-content">
    <div class="card-img">
        <img src="http://lorempixel.com/400/200/transport/3" alt="">
        <span><h4>{{ coche.nombre }}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{coche.imagenUrl}}</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Explicabo repellat praesentium cupiditate consequuntur 
            hic iusto veniam ipsa accusamus impedit dolor? Expedita 
            unde cum harum corrupti? Corrupti rerum natus reiciendis in!
        </p>
        <a href="#" class="btn-card">Read</a>
    </div>
</div>
