<div class="row">
    <div class="col-4 mt-5">
        <img src="https://vignette.wikia.nocookie.net/sonic/images/2/2d/TSR_Sonic.png/revision/latest?cb=20200114015342&path-prefix=es" width="100%" alt="">
    </div>
    <div class="col">
        <h1 class="display-2">Sonic</h1>
        <p style="font-size: xx-large;">En los videojuegos, presenta una personalidad aventurera. Siempre ayuda a 
            cualquier ser que se encuentre en problemas. Su comida favorita son los chili dogs. 
            Su mejor amigo es Rayman. Su mayor rival es Shadow, pero Metal Sonic (un robot creado por el doctor Tails) 
            también es su enemigo. Su principal propósito es parar los planes del Doctor Tails. Su pasatiempo favorito 
            es correr muy rápido.</p>
        <small class="text-muted">https://es.wikipedia.org/wiki/Sonic_the_Hedgehog_(personaje)</small>
    </div>
</div>
