<div class="row mt-5">
    <div class="col-4">
        <img src="https://vignette.wikia.nocookie.net/minecraft-latino/images/5/52/Minecraft-steve_12.png/revision/latest/scale-to-width-down/340?cb=20141020000442&path-prefix=es" width="100%" alt="">
    </div>
    <div class="col">
        <h1 class="display-2">Minecraft</h1>
        <p style="font-size: xx-large;">En el modo creativo se pueden construir casas. Los jugadores poseen muchos bloques y no se acaban. Pueden colocar y destruir bloques. No pueden ser atacados por los monstruos y pueden volar por todos lados.</p>
        <small class="text-muted">https://es.wikipedia.org/wiki/Minecraft</small>
    </div>
</div>